@import url('https://fonts.googleapis.com/css2? family=poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(4, 253, 141);
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}

.logo {
    color: royalblue;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#header ul li {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(238, 246, 8);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a:active {
    background: blue;
    color: black;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: absolute;
    color: rgb(236, 12, 46);
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'rancho', cursive;
    transform: translateY(-50%);

}

#text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: dodgerblue;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: springgreen;
}

.sec h2 {
    font-size: 2.5rem;
    color: navy;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.2rem;
    color: rgba(247, 9, 136, 0.769);
}



.flip-box {
    background-color: olive;
    width: 300px;
    height: 200px;
    border: 1px solid;
    perspective: 1000px;
    display: flex;
}

flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover,
.flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: mediumspringgreen;
    color: crimson;
}

.flip-box-back {
    background-color: teal;
    color: deeppink;
    transform: rotateY(180deg);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20px;
}

.card-1 {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    border-style: solid;
    border-color: #094b65;
}

.card-1:hover {
    transform: rotateY(180deg);
}

.front,
back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.back {
    background-color: hotpink;
    transform: rotateY(180deg);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.back .pack {
    color: darkgray;
}

.image-scroller img {
    width: 20%;
    height: 20%;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: aquamarine;
    color: cornsilk;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: khaki;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: blue;
}

#more {
    display: none;
}

.read {
    background-color: darkslategrey;
    color: maroon;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.read:hover {
    background-color: orangered;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.hover-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: palegreen;
    color: pink;
    transition: opacity 0.3 ease;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-wrapper:hover .hover-image {
    transform: scale(1.1);
}

.image-wrapper:hover .content-overlay {
    opacity: 1;
}

#extra {
    display: none;
}

.image {
    height: 500px;
    width: 500px;
    display: flex;
    object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2? family=poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: dodgerblue;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}

.logo {
    color: crimson;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#header ul li {
    text-decoration: none;
    padding: 6px 15px;
    color: coral;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a:active {
    background: blue;
    color: black;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: absolute;
    color: rgb(236, 12, 46);
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'rancho', cursive;
    transform: translateY(-50%);

}

#text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: dodgerblue;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: springgreen;
}

.sec h2 {
    font-size: 2.5rem;
    color: navy;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.2rem;
    color: rgba(247, 9, 136, 0.769);
}

.Health {
    background-color: mediumslateblue;
}

.Health h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: rgb(231, 226, 226);
    text-transform: uppercase;
}

.Health span {
    color: coral;
    text-transform: uppercase;
}

.Health p strong {
    color: indigo;
    padding: 10px;
    font-size: 25px;
}

.Health p {
    color: teal;
    padding-bottom: 10px;
    font-size: 20px;
}

.flip-box {
    background-color: olive;
    width: 300px;
    height: 200px;
    border: 1px solid;
    perspective: 1000px;
    display: flex;
}

flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover,
.flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: mediumspringgreen;
    color: crimson;
}

.flip-box-back {
    background-color: teal;
    color: deeppink;
    transform: rotateY(180deg);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20px;
}

.card-1 {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    border-style: solid;
    border-color: #094b65;
}

.card-1:hover {
    transform: rotateY(180deg);
}

.front,
back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.back {
    background-color: hotpink;
    transform: rotateY(180deg);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.back .pack {
    color: darkgray;
}

.image-scroller img {
    width: 20%;
    height: 20%;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: aquamarine;
    color: cornsilk;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: khaki;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: blue;
}

#more {
    display: none;
}

.read {
    background-color: darkslategrey;
    color: maroon;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.read:hover {
    background-color: orangered;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.hover-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: palegreen;
    color: pink;
    transition: opacity 0.3 ease;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-wrapper:hover .hover-image {
    transform: scale(1.1);
}

.image-wrapper:hover .content-overlay {
    opacity: 1;
}

#extra {
    display: none;
}

.image {
    height: 500px;
    width: 500px;
    display: flex;
    object-fit: cover;
}